---
layout: archive
title: "Activities"
permalink: /talks/
author_profile: true
---

Activities

<b>Contributions to Research Conferences and Journals:</b>
<br>
<br>  
I have served as a Peer reviewer and a TPC for a number of International conferences and Journals for the last 20 years. Some of the conferences and Journals 
I have served for includes: IEEE Transactions on Networking. IEEE International Conference On Networking (ICON). IEEE Vehicular Technology Conference (VTC). 
Workshop on Internet, Telecommunications and Signal Processing. IEEE International Conference on Communications (ICC). IEEE Transactions Vehicular Technology Journal. Australian Telecommunication Networks and Applications Conference (ATNAC 2004). IEEE Communications Letters.
<br>
<br>
<b>Some of my Recent Activities include:</b>
<br>
<br>
Reviewer for Australian Research Council Discovery and Linkage Projects (on-going)
TPC Member for IEEE Conference on Local Computer Networks (IEEE LCN 2016-Current)
Australian representative in the ISO/IEC International IoT Standardisation workgroup (2017-2018)
Member of the Australian IoT Alliance and active participant in IoTAA works streams (on-going)
Track Chair for The IEEE 85th Vehicular Technology Conference (IEEE VTC2017-Spring)
TPC Member for 23rd International Conference on Telecommunications (ICT 2016)
Workshops Chair for 10th International Conference on Body Area Networks (Bodynets 2015)
TPC 22nd International Conference on Telecommunications (ICT 2015)
Operations Chair  for IEEE ICC 2014.
Workshops Chair WPMC 2014.TPC member for IEEE LCN 2014, IEEE WOWMOM, BODYNETs 2014, WPMC 2014, ICSPCS 2014.

{% if site.talkmap_link == true %}



{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


