---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
Some of the my current previous Undergraduate and Postgraduate levels subject at UTS includes the following:

<ul>
  <li> Software Defined Networking </li>
<li> Network Design </li>
<li> Interior Routing and High Availability </li>
<li> Wireless Communications </li>
<li> Cellular Networks </li>
<li> TCP/IP and Networking </li>
</ul>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
