---
layout: archive
permalink: /year-archive/
title: "Opportunities"
author_profile: true
#redirect_from:
# - /wordpress/blog-posts/
---


<br>
<b>Working and Collaborating with me</b>
<br>
<br>
I am happy to discuss new collaboration opportunities with international researchers who have common research interests. If you have interests in working with 
me and my group, feel free to send me an email. My research student supervision is very student centric, i believe every student is different with different 
capabilities, ambition and needs. If you are willing to work hard and believe you have the skills and passions to do higher degree research, feel free to 
contact me.
<br>
<br>
<b>Scholarship and Research Opportunities</b>
<br>
<br>
A number of different scholarship opportunities are available for both Local and International students. For further details click on the following links: 

<a href= "https://www.uts.edu.au/research-and-teaching/graduate-research/future-research-students/application-essentials/find-a-scholarship"> List of scholarship and grants. </a>
<br>
<br>
<b>Application procedure:</b>
<br>
<br>
<ol>
<li> If you are planning to undertake a Masters or a PhD under my supervision. Please forward me the following: </li>
<ul>

<li>A research proposal or an Overview of Research goals and directions you want to take (if you dont have a proposal yet)</li>
<li>A Detailed CV</li>
<li>List of previously published papers (if any)</li>
<li>Academic transcripts</li>
<li> I am generally interested in students with the following: 

A first class equivalent or Master by research or coursework in Telecommunications, Computer Science or Mathematics(applying for PhD)
Previously published papers in International conferences or journals in one of my areas. Or can demonstrate capability to write such papers.
Can communicate effectively in english language and is capable of technical writing in english
Very Good Programming Skills
  Strong mathematical background </li>
  </ul>
<li> Follow the UTS application procedure by <a href="https://www.uts.edu.au/research-and-teaching/graduate-research/future-research-students/application-essentials/lodge-your-application"> Clicking Here </a> </li>
</ol>
 <br>
<br>
<b>Scholarship rankings at FEIT/UTS</b>
<br>
 To be competitive you must generally have outstanding GPA for your Bachelors and/or Masters degree. Also note that your research experience and existing publication output is examined. Students who have published high quality papers will be highly regarded. These include (but not limited to): IEEE, ACM and Elsever journals. The papers you have published must be ISI-index (i.e. published in quality conferences and journals).

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
